body > nav{
  width: 1204px;
  height: 20px;
  background-color: maroon;
}

body > nav > ul {
  width: 60%;
  margin-left:30%;
  /*margin-right:10%;*/
}

body > nav > ul > li {
  float: left;
  display: block;
  padding: 15px;
  background-color: maroon;
  color: white;
}

#js_container{ 
  width: 100%;
  height: 300px;
}
