/*body > nav{
  width: 100%;
  height: 50px;
  background-color: maroon;
}*/

/*body > nav > ul {
  width: 60%;
  margin-left:20%;
  /*margin-right:10%;*/
}*/

body > nav > ul > li {
  float: left;
  display: block;
  padding: 15px;
  background-color: maroon;
  color: white;
  font-size: 25px;
}
/* --------------------------------------- Tag Section -----------------------------------------------------------*/

/*-------------------------------------------- Nav Bar -----------------------------------------------------------*/
body > nav{
  text-align:center;
  background-color: #000;
  height: 56px;
  border-radius: 4px;
  font-family: 'Nova Cut', cursive;
  font-weight: 700;
}

body > nav ul{
  list-style-type:none;
  display:inline-block;
}

/*body > nav ul li{
  float:left;
  margin: 0;
}*/

/*body > nav ul li a{
  background-color: #BD2031;
  text-decoration:none;
  padding: 10px 25px;
  display: block;
  color: #fff;
  font-size: 25px;
}*/

/*body > nav ul li a:hover{
  background-color: #000;
}

body > nav ul li a.active{
  background-color: #000; 
  color: #f0b401;
}
*/


/*----------------------------------------- Original -------------------------------------------------*/
.button#clear {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #FF9900; 
    border-radius: 12px;
	outline:0;
}
.button:hover {
    background-color: #000000; /* Green */
    color: white;
}
.button:active {
  background-color: #00000000;
  transform: translateY(4px);
}
.container{
  position: relative;
  text-align: center;
  width: 100%;
  height: 200px;
}     
#myCanvas {
  position: absolute;
  right: 0px;
}
#clear {
  position:absolute;
  top: 50%;
  left: 47.5%;
}