/* ------------------------------------------------Tags ------------------------------------------*/

body > nav{
  padding: 0;
	position: sticky;
	top: -3px;
	overflow: hidden;
	display: block;
  background-color: #333;
  border-top: 3px solid #ff4000;
  border-bottom: 3px solid #ff4000;
  z-index: 1;
}

body > nav ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin-left: 50px;
	/*border-top: 3px solid #ff4000;*/
	/* border-bottom: 3px solid #ff4000; */
}

body > nav ul li {
  /* border-right: 1px solid #ff5a00; */
}

body nav ul li a{
	float: left;
	border-bottom: 3px solid transparent;
	display: block;
	padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: white;
	font-size: 20px;
  text-decoration: none;
	/* border: 1px solid white; */
}


p {
  margin-top: 10px; 
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  style-type: underline;
}

footer{
  border-top: 2px black solid;
  width: 100%;
  height: 60px;
  background-color: #333;
}

label {
	color: white;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  /* float: right; */
}

input[type=submit] {
  background-color: #4CAF50;
  padding: 12px 20px;
  border: 3px solid;
  border-radius: 12px;
  cursor: pointer;
  float: right;
  border: 2px solid #4CAF50; 
	margin-top: 10px;
	color: white;
	outline: 0;
}



/* -----------------------------------Special effects and media -----------------------------------*/
li a:hover {
  background-color: black;
	color: #ff4000;
	/*border-bottom: 3px solid #ff4000;*/
}

@media screen and (max-width: 600px){
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  .col-1, .col-2, input[type=submit] {
    width: 100%;
  }
}

input[type=submit]:hover {
  color: white;
}

input[type=submit]:active {
  transform: translateY(4px);
}

.button#clear:hover {
  background-color: #000000; /* Green */
  color: white;
}

.button#clear:active {
  background-color: #ff4000;
  transform: translateY(4px);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* ----------------------------------- Classes -----------------------------------------*/

.active{
  background-color: black;
	color: #ff4000;
	/*border-bottom: 3px solid #ff4000;*/
	/* border-bottom: 5px solid red; */
}

.contact{
	float: right;
}

.Body_wrap{
  text-align: left;
  padding: 35px 50px;
  background-color: white;  
}

.cool_line{
  border-bottom: solid 3px #ff4000;
  width: 90px;
  margin: 0px auto 30px auto;
}

.copyright_text{
  color: white;
  padding-top: 16px;
  margin-left: 35px;
  font-size: 12px;
}

.text_border{
  border-left: 1px white solid;
  margin-right: 8px;
}

.slide_show_wrap{ 
  width:100%;
  height: 600px;
}

.slide_show_img{
  opacity: 0.2;
  z-index: -1; 
  position: fixed;
  top: 0px;  
  width:100%;
}

.slide_show_content{
  position: absolute;
  top: 850px;
  width: 100%;
  /*width: 60%;
  margin-left: 50px;*/
  text-align: center;  
  color: black;
}

.logo-contact{
  margin-top:2.5%;
  margin-bottom: 5%;
}

.container-contact {
	margin-top: 2.5%;
  border-radius: 15px;
  background-color: #333;
  padding: 20px;
	border: 3px solid;
	border-color: #ff4000;
}

.col-1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}



/*----------------------------------------- Ids -------------------------------------------------*/
#myCanvas{
	display: block;
	padding: none;
}

.button#clear {
  background-color: #000000;
  border: none;
  color: #ff4000;
  padding: 15px 32px;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #ff4000; 
  border-radius: 12px;
	outline:0;
}


#contact{
	float: right;
}

#contactLogo {
	pointer-events: none;
	height: 250px;
	width: 250px;
	display: block;
	margin: auto;
}

#clear {
  position:absolute;
  top: 2%;
  right: 2%;
}

#logo {
  position:absolute;
  pointer-events: none;
  top: 15%;
  left: 42.5%;
}
#content_1{
  font-size: 85px; 
  font-weight: 700; 
  font-family: 'Do Hyeon', sans-serif;  
}

#content_2{
  font-size: 25px;
}
